'posts': {
    'id': 0,
    'location': 'Остров отчаянья',
    'date': '30 сентября 1659 года',
    'category': 'travel',
    'text': '''Наш корабль, застигнутый в открытом море
            страшным штормом, потерпел крушение.
            Весь экипаж, кроме меня, утонул; я же,
            несчастный Робинзон Крузо, был выброшен
            полумёртвым на берег этого проклятого острова,
            который назвал островом Отчаяния.''',
},

{% for post in posts %}
<article>
  <ul>
    <li>
      Место: {{ post.location }}
      <!-- Место: Остров отчаянья -->              
    </li>
    <li>
      Дата: {{ post.data }}
      <!-- Дата: 25 октября 1659 года -->
    </li>
    <li>
      Категория: <a href={{ post.category }}>{{ post.category }}</a>
    </li>
    </ul>          
    <!-- Первые 10 слов -->
    <p>
        {{ post.description|truncatewords:10 }}
      Всю ночь и весь день шел дождь и дул сильный ...
    </p>
    <a href="detail.html">Читать полный текст</a>
</article>